.group-field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}
.group-field-container > div {
    flex: 1;
    background-color:rgba(160, 159, 159, 0.2);
    height: 40px;
    padding: 2px 0px;
    line-height: 40px;
    margin: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-indent: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.group-field-container .title {
    color: #444;
}